
.emptyBox{
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 200px;
    row-gap: 14px;
}

.emptyIcon{
    width: 40px;
}

.emptyTitle{
    font-size: 18px;
    line-height: 1.2;
}