
.pointsBox{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 8px 22px;
    font-size: clamp(14px, 0.94vw, 18px);
    font-weight: 700;
    text-align: center;
    position: relative;
    line-height: 1.2;
}

.label{
    background-color: var(--bg-color);
    font-size: clamp(10px, 0.73vw, 14px);
    padding: 2px 11px;
    position: absolute;
    left: 50%;
    bottom: -5;
    transform: translate(-50%, 50%);
    pointer-events: none;
}