
.userSkeleton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userInfo{
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.userAvatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.userName{
    border-radius: 8px;
    width: 60px;
    height: 30px;
}

.userPoints{
    border-radius: 8px;
    width: 60px;
    height: 40px;
}

.skeletonElement {
  background: linear-gradient(
    90deg,
    var(--bg-color) 0%,
    #3a3a3f 25%,
    #45454a 50%,
    #3a3a3f 75%,   
    var(--bg-color) 100%
  );
  background-size: 200% 100%;
  animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}