
.tabsSection{
    display: flex;
    column-gap: 8px;
    overflow-x: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    scrollbar-width: none;
    -ms-overflow-style: none;

}

.tabsSection::-webkit-scrollbar{
    display: none;
}

.tab{
    border-radius: 10px;
    padding: 8px 12px;
    font-size: clamp(12px, 0.94vw, 18px);
    font-weight: 400;
    text-align: center;
    background: rgba(116, 116, 128, 0.12);
    white-space: nowrap;
    transition: .3s all ease;
}

.active{
    background-color: #fff;
    color: var(--gray-secondary-color);
}

@media(hover:hover){
    .tab:hover{
        opacity: .5;
    }
}