
.buttonBlue{
    border-radius: 14px;
    font-size: clamp(14px, 0.94vw, 18px);
    font-weight: 700;
    padding: 12px 0;
    line-height: 1.2;
    background-color: var(--blue-primary-color);
    width: 100%;
    margin-top: 16px;
    transition: .3s all ease;
}

@media(hover: hover){

    .buttonBlue:hover{
        opacity: .4;
    }
}