
.fundsBarBox{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.titleBox{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.raise{
    font-size: clamp(12px, 0.83vw, 16px);
    opacity: .74;
    margin-top: 5px;
}

.goal{
    font-size: clamp(10px, 0.83vw, 16px);
    opacity: .74;
}