
.bottomNav{
    padding: 22.5px 46.5px;
    position: sticky;
    bottom: -5;
    background-color: var(--gray-secondary-color);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.icon{
    opacity: .5;
}

.iconActive{
    opacity: 1;
}

@media(hover: hover){

    .icon:hover{
        opacity: .7;
    }

    .iconActive:hover{
        opacity: .5;
    }
}