
:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #fff;
  --tg-theme-hint-color: #999999;
  --tg-theme-link-color: #2481cc;
  --tg-theme-button-color: #2481cc;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #15202B;

  --gray-light: #AAB8C2;
  --gray-secondary-color: #253341;
  --dark: #15202B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-anonymous-pro), monospace;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-anonymous-pro), monospace;
}

.web-app {
  max-width: 428px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: var(--tg-theme-bg-color);
  position: relative;
}

.telegram-app {
  position: relative;
}

.container{
  padding: 20px 30px;
}