
:root {
  --gray-light: #AAB8C2;
  --gray-secondary-color: #253341;
  --dark: #15202B;
  --bg-color: #2f2f33;
  --text-color: #fff;
  --blue-primary-color: #1D9BF0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-anonymous-pro), monospace;
}

body {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-anonymous-pro), monospace;
}

.web-app {
  max-width: 428px;
  margin: 0 auto;
  background-color: var(--bg-color);
  position: relative;
}

.telegram-app {
  position: relative;
  margin: 0 auto;
  max-width: 428px;
  background-color: var(--bg-color);
}

.container{
  padding: 20px 30px;
  min-height: 100vh;
}