
.userBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileBox{
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.profileImage{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.username{
    font-size: clamp(16px, 1.04vw, 20px);
    font-weight: 400;
}

.rank{
    font-size: clamp(10px, 0.83vw, 16px);
    color: var(--gray-light);
}